<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ✧ jiwon's homepy ✧ </title>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <base target="_blank">
    <link rel="icon" href="/assets/favicon/favicon2.png" type="image/png">
    <script src="https://louisabraham.github.io/nekojs/neko.js" data-autostart></script>
</head>
<body>
    <div class="page-frame">
        <div class="content-grid">
            <!-- Left Sidebar-->
            <div class="left-sidebar">
                <!-- <img src="/assets/dividers/blinkingstar.gif" alt="sidebar-divider" style="width: 100%;"> -->
                <!-- Mini-Me -->
                <div class="profile">
                    <div class="visitor-counter">
                        today: <span id="today-count">0</span> | total: <span id="total-count">0</span>
                    </div>
                    <img src="/assets/minime/pic2.jpg" alt="mini-me" class="mini-me-img">
                    <div class="today-status">
                        <p>today is... ♥︎</p>
                    </div>
                    <div class="bio-text">
                        <p>hi i'm jiwon, welcome to my homepy ^-^</p>
                     </div>
                </div>

                <div class="scrapbook-folders">
                    <div style="padding-top: 15px;"> :: folders ::</div>
                    <ul class="folder-list">
                        <li><a href="#all" class="folder active">all</a></li>
                        <li><a href="#website" class="folder">cool websites</a></li>
                        <li><a href="#meme" class="folder">memes and tweets</a></li>
                        <li><a href="#useful" class="folder">useful resources</a></li>
                        <!-- <li><a href="#game" class="folder">nostalgic games</a></li> -->
                        <li><a href="#poli-ed" class="folder">political</a></li>
                        <li><a href="#etc" class="folder">etc etc etc</a></li>
                    </ul>
                </div>


                <!-- Radio/BGM Widget -->
               <div class="radio-widget">
                    <label>(♥) <a href="https://radioalhara.net/">Radio Alhara</a></label>
                    <div class="radio-controls">
                        <button id="play-radio" class="radio-btn">▶</button>
                        <button id="pause-radio" class="radio-btn">■</button>
                    </div>

                    <audio id="bgm-audio" loop autoplay>
                        <source src="https://stream-relay-geo.ntslive.net/stream" type="audio/mpeg">
                    </audio>
                </div>
            </div>

            <!-- Center Main Content -->
            <div class="center-main-container">

                <!-- HOMEPY -->
                <div id="home" class="tab-content active">
                    <main class="center-main">
                        <div class="top-row">
                            <div class="section">
                                <div class="section-label">Recents</div>
                                <ul class = "recent-posts">
                                {% set recentPosts = collections.scrapbook %}
                                {% for post in recentPosts %}
                                    {% if loop.index <= 4 %}
                                    <a href="#" class="recent-link" data-post-anchor="{{ post.data.title | slugify }}" style="margin-bottom: 5px">
                                        • [{{ post.data.tags[0] }}] {{ post.data.title }}
                                    </a>
                                    {% endif %}
                                {% endfor %}
                                </ul>
                            </div>
                            
                            <div class="section" style="border:1px solid #000;">
                                <div class="section-label" style ="padding: 5px; text-align: center;">changelog</div>
                                <div class="changelog-container">
                                    {% includeChangelog %}
                                </div>
                            </div>
                            
                        </div>

                        <!-- Mini-Home -->
                        <div class="section">
                            <div class="section-label">Mini-home</div>
                        
                            <div class="mini-home">
                                <img src="/assets/minihome/water-room.gif" alt="mini-home" class="room-bg">
                                
                                <!-- DRAGGABLE ELEMENTS -->
                                <div class="draggable-element" id="element1">
                                    <img src="/assets/minihome/elements/cryingpukka.gif" alt="mini-me" class="pixel-img">
                                </div>

                                <div class="draggable-element" id="element2">
                                    <img src="/assets/minihome/elements/watermelon.gif" alt="pool float" class="pixel-img">
                                </div>

                                <div class="draggable-element" id="element3">
                                    <img src="/assets/minihome/elements/grapeboy.gif" alt="pixel cat" class="pixel-img">
                                </div>

                                <div class="draggable-element" id="element4">
                                    <img src="/assets/minihome/elements/devilgirl.gif" alt="pixel cat" class="pixel-img">
                                </div>       

                            </div>
                        </div>
                    </main> 
                </div>

                <div id="scrapbook" class="tab-content">
                    <main class="center-main">
                            <div class="scrapbook-container" id="scrapbook-posts">
                                {% for post in collections.scrapbook %}
                                <div class="scrap-item" id="{{ post.data.title | slugify }}" data-tags="{{ post.data.tags | join(' ') }}">
                                    <div class="scrap-date">[{{ post.date }}]</div>
                                    <h3 class="scrap-title">{{ post.data.title }}</h3>
                                    <div class="scrap-content">{{ post.content | safe }}</div>
                                    <div class="scrap-tags">tags: {{ post.data.tags | join(', ')}} </div>
                                </div>
                                {% endfor %}
                            </div>
                    </main>
                </div>

                <nav class="nav-container">
                    <ul>
                        <li><a href="#home" class="tab active">home</a></li>
                        <li><a href="#scrapbook" class="tab">scrapbook</a></li>
                        <li><a href="https://jwni.atabook.org/" class="tab-link">guestbook</a></li>
                    </ul>
                </nav>
            </div>       
        </div> 
    </div>

    <div class="right-sidebar">
        <div class="window-top">
            extras
            <button class="window-button">_</button>
            <button class="window-button" style="margin-left: 2px;">x</button>

        </div>
        <div class="pet-embed">
            <iframe width="314" height="321" scrolling="no" src="https://gify.pet/pet/pet.html?name=minipet&dob=1783178788&gender=f&element=Fire&pet=cat.gif&map=night.gif&background=pink.gif&tablecolor=black&textcolor=white" frameborder="0"></iframe>
        </div>

        <div class="chat-embed">
            <iframe src="https://www3.cbox.ws/box/?boxid=3556826&boxtag=zQpjCh" width="100%" height="300" allowtransparency="yes" allow="autoplay" frameborder="0" marginheight="0" marginwidth="0" scrolling="auto"></iframe>	
        </div>
    </div>   
</body>
<script src="/script.js"></script>
<script src="https://unpkg.com/@ruffle-rs/ruffle"></script>
</html>