<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ✧ jiwon's homepy ✧ </title>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <base target="_blank">
    <link rel="icon" href="/assets/favicon/favicon2.png" type="image/png">
    <script src="https://louisabraham.github.io/nekojs/neko.js" data-autostart></script>
</head>
<body>
    <div class="site-wrapper">
        <div class="page-frame-frame">
            <div class="page-frame">
                <div class="homepy-header">
                    <div class="visitor-counter">
                        TODAY: <span id="today-count">0</span> | TOTAL: <span id="total-count">0</span>
                    </div>
                    <div> øㅕEH까ズl 안ㅈΓヱ 뭐ぁĦ ଘ(੭ˊᵕˋ)੭* ੈ✩‧₊˚ </div>
                </div>
                <div class="content-grid">
                    <!-- Left Sidebar-->
                    <div class="left-sidebar">
                        <!-- <img src="/assets/dividers/blinkingstar.gif" alt="sidebar-divider" style="width: 100%;"> -->
                        <!-- Mini-Me -->
                        <div class="profile">
                            <img src="/assets/minime/pic2.jpg" alt="mini-me" class="mini-me-img">
                            <div class="today-status">
                                <p>today is... ♥︎</p>
                            </div>
                            <div class="bio-text">
                                <p>hi i'm jiwon, welcome to my homepy ^-^</p>
                            </div>
                        </div>

                        <div class="scrapbook-folders">
                            <div style="padding-top: 15px;"> :: folders ::</div>
                            <ul class="folder-list">
                                <li><a href="#all" class="folder active">all</a></li>
                                <li><a href="#website" class="folder">websites</a></li>
                                <li><a href="#meme" class="folder">memes</a></li>
                                <li><a href="#useful" class="folder">resources</a></li>
                                <!-- <li><a href="#game" class="folder">nostalgic games</a></li> -->
                                <li><a href="#poli-ed" class="folder">revolution</a></li>
                                <li><a href="#etc" class="folder">etc</a></li>
                            </ul>
                        </div>
                    </div>

<!-- Center Main Content -->
                    <div class="center-main-container">

    <!-- HOMEPY main -->
                        <div id="home" class="tab-content active">
                            <main class="center-main">
                                <div class="top-row">
                                    <div class="section">
                                        <div class="section-label" style="font-size: 0.9em;">Recents</div>
                                        <ul class = "recent-posts">
                                        {% set recentPosts = collections.scrapbook %}
                                        {% for post in recentPosts %}
                                            {% if loop.index <= 4 %}
                                            <a href="#" class="recent-link" data-post-anchor="{{ post.data.title | slugify }}" style="margin-bottom: 5px">
                                                • [{{ post.data.tags[0] }}] {{ post.data.title }}
                                            </a>
                                            {% endif %}
                                        {% endfor %}
                                        </ul>
                                    </div>
                                    
                                    <div class="section" style="border:1px solid #000;">
                                        <div class="section-label" style ="padding: 5px; text-align: center; font-size: 0.9em;">changelog</div>
                                        <div class="changelog-container">
                                            {% changelog %}
                                        </div>
                                    </div>
                                    
                                </div>
                                <!-- Mini-Home -->
                                <div class="section">
                                    <div class="section-label" style="font-size: 0.9em;">Mini-home</div>
                                
                                    <div class="mini-home">
                                        <img src="/assets/minihome/water-room.gif" alt="mini-home" class="room-bg">
                                        
                                        <!-- DRAGGABLE ELEMENTS -->
                                        <div class="draggable-element" id="pukka" style="top: 100px; left: 500px;">
                                            <img src="/assets/minime/cryingpukka.gif" class="pixel-img">
                                        </div>

                                        <div class="draggable-element" id="element2" style="top: 220px; left: 80px;">
                                            <img src="/assets/minime/watermelon.gif" class="pixel-img">
                                        </div>

                                        <div class="draggable-element" id="devilgirl" style="top: 100px; left: 300px;">
                                            <img src="/assets/minime/devilgirl.gif" class="pixel-img">
                                        </div>
                                        
                                        <div class="draggable-element" id="sleepingshrimp" style="top: 160px; left: 60px;">
                                            <img src="/assets/minime/sleepingshrimp.gif" class="pixel-img">
                                        </div> 
                                        
                                        <div class="draggable-element" id="fairy" style="top: 160px; left: 550px;">
                                            <img src="/assets/minime/fairy.gif" class="pixel-img">
                                        </div> 

                                    </div>
                                </div>
                            </main> 
                        </div>
    <!-- profile -->
                        <div id="profile" class="tab-content">
                            <main class="center-main">
                                <div class="section">
                                    <div class="section-label">profile</div>
                                    <img src="assets/dividers/whimsyrain.png" style="width: 100%; padding-top: 5px;">
                                    <div class="profile-content" style="text-align: center; transform: translateY(-30px);">
                                        <p>name: jiwon</p>
                                        <p>birth year: 1996</p>
                                        <p>nationality: south korean</p>
                                        <p>location: shanghai</p>
                                        <p>mbti: intp/intj</p>
                                        <p>zodiac: sagittarius</p>
                                        <p>occupation: student</p>
                                        <p>likes: revolution, low dew points, languages, used bookstores, seating that looks out onto the street, a free palestine, cats, jasmine green tea, backpacking with no plan, karl marx, beer on a sunny day, makgeoli on a rainy day </p>
                                        <p>dislikes: capitalism, cinnamon flavoring, imperialism, settler colonies, monsoon season, cardio, CIA, media that is allergic to leaving anything unexplained, Europeans, inconsiderate walkers, speculative finance</p>

                                        <img src="assets/dividers/vintagestars.png" style="width: 120%; transform: translateX(-10%)">

                                    </div>
                                </div>
                            </main>
                        </div>

    <!-- diary -->
                        <div id="diary" class="tab-content">
                            <main class="center-main">
                                <div class="section">
                                    <div class="section-label">diary</div>
                                    <div class="diary-container" id="diary-posts">
                                        {% for post in collections.diary %}
                                        <div class="diary-item" id="{{ post.data.title | slugify }}">
                                            <div class="diary-date">[{{ post.date | longDate }}]</div>
                                            <div class="diary-content">{{ post.content | safe }}</div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </main>
                        </div>

    <!-- jukbox -->
                        <div id="jukebox" class="tab-content">
                            <main class="center-main">
                                <div class="section">
                                    <div class="section-label">jukebox</div>
                                    <div class="jukebox-content">
                                        {% for post in collections.jukebox %}
                                        <div class="jukebox-item">
                                            <div class="jukebox-content">{{ post.content | safe }}</div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </main>
                        </div>

    <!-- scrapbook -->
                        <div id="scrapbook" class="tab-content">
                            <main class="center-main">
                                    <div class ="section-label">SCRAPBOOK</div>
                                    <div class="scrapbook-container" id="scrapbook-posts">
                                        {% for post in collections.scrapbook %}
                                        <div class="scrap-item" id="{{ post.data.title | slugify }}" data-tags="{{ post.data.tags | join(' ') }}">
                                            <div class="scrap-date">[{{ post.date | longDate }}]</div>
                                            <h3 class="scrap-title">{{ post.data.title }}</h3>
                                            <div class="scrap-content">{{ post.content | safe }}</div>
                                            <div class="scrap-tags">tags: {{ post.data.tags | join(', ')}} </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                            </main>
                        </div>
<!-- navigation -->
                        <nav class="nav-container">
                            <ul>
                                <li><a href="#home" class="tab active">HOME</a></li>
                                <li><a href="#profile" class="tab">PROFILE</a></li>
                                <li><a href="#diary" class="tab">DIARY</a></li>
                                <li><a href="#jukebox" class="tab">JUKEBOX</a></li>                    
                                <li><a href="#scrapbook" class="tab">SCRAPBOOK</a></li>
                                <li><a href="https://jwni.atabook.org/" class="tab-link">GUESTBOOK</a></li>
                            </ul>
                        </nav>
                    </div>       
                </div> 
            </div>
        </div>

        <div class="sidebar-wrapper">
            <div class="right-sidebar">
                    <div class="window-top">
                        NEOCITIES
                        <button class="window-button" style="margin-left: 2px;"><a href="https://neocities.org/site/jwni">𖡼.𖤣𖥧 𖠿 𖡼.𖤣𖥧</a></button>

                    </div>
                    
                    <div class="widget-container">
                        <div class="pet-embed">
                            <iframe width="300" height="300" scrolling="no" src="https://gify.pet/pet/pet.html?name=minipet&dob=1783178788&gender=f&element=Fire&pet=cat.gif&map=night.gif&background=pink.gif&tablecolor=black&textcolor=white" frameborder="0"></iframe>
                        </div>

                        <div class="chat-embed">
                            <iframe src="https://www3.cbox.ws/box/?boxid=3556826&boxtag=zQpjCh" width="100%" height="270" allowtransparency="yes" allow="autoplay" frameborder="0" marginheight="0" marginwidth="0" scrolling="auto"></iframe>	
                        </div>
                    </div>
            </div>

            <!-- Radio/BGM Widget -->
            <div class="radio-widget" style="margin-top: 5px;">
                <p style="margin: 0 5px 0 5px;">💿:</p>
                <marquee class="radio-marquee" scrollamount="3">
                    <a href="" id="radio-link" target="_blank"></a>
                </marquee>
                <div class="radio-controls">
                    <button id="play-radio" class="radio-btn">▶</button>
                    <button id="pause-radio" class="radio-btn">■</button>
                    <button id="next-radio" class="radio-btn">▶▶</button>
                </div>
                <audio id="bgm-audio" loop autoplay></audio>
            </div>
        </div>

    </div>   
</body>
<script src="/script.js"></script>
<script src="https://unpkg.com/@ruffle-rs/ruffle"></script>
</html>